body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 1em;
  font-family: 'Play', sans-serif !important;

}



.ui.color1.button {
  background-color: #D4886A !important;
  color: #fff;
}
.ui.color2.button {
  background-color: #277554 !important;
  color: #fff;
}
.ui.color3.button {
  background-color: #983352 !important;
  color: #fff;
}
.ui.color4.button {
  background-color:  #8ABD5F !important;
  color: #fff;
}


